<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>No Products Found</title>
</head>
<body>
<strong><h1>Either the output file is not generated or no data available in Database</h1></strong>
<h2>Steps for making this to work</h2>
<ol>
  <li>First run 'Kedro run' to generate output file and data into database.</li>
    <dl>
      <dt>Re run the flask server by using:</dt>
      <dd>- If you are in root folder: <b>'python src/wells_fargo/api/app.py'</b></dd>
      <dd>- If you are in 'src' folder: <b>'python wells_fargo/api/app.py'</b></dd>
    </dl>
</ol>
</body>
</html>